*,
*::after,
*::before{
    box-sizing: border-box;
}
a{
    font-style: normal;
    text-decoration: none;
    color:#2D2D2D
}
ol, ul{
    list-style-type: none;
    padding: 0;
}
body{
    font-family: 'Epilogue', sans-serif;
}
.container{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.header-container{
    display: flex;
    margin: 0;
    padding: 0;
}
.navigation{
    display:flex;
    align-items: center;
    padding: 25px 0;
}
.logo{
    font-family:'Epilogue', sans-serif;
    font-size:20px;
    font-weight: 600;
    color:#2D2D2D;
    margin-left:50px;
    text-transform: capitalize;
}
.links-list{
    display: flex;
    gap: 50px;
}
.header-box-links{
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    padding: 26px 0;
    font-size: 17px;
    text-transform: capitalize;
    flex-wrap: wrap;
    flex-shrink: 0;
}
.content-box{
    display: flex;
    flex-direction: column;
    padding:100px;
    flex: 1;
    text-align: left;
}
.branding{
    font-size: 20px;
    font-weight: 600;
}
.my-portfolio{
    font-size: 80px;
    font-weight: 600;
    padding-top: 40px;
}
.made-myself{
    font-size:17px;
    padding: 0;
}
.image-circle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-right: 50px;
}
.company-logos{
    display: flex;
    padding:0 101px;
    justify-content: space-between;
    gap:131.5px;
    flex-wrap: wrap;
    padding-top: 66px;
    align-items: center;
}