*,
*::after,
*::before{
    box-sizing: border-box;
}
a{
    font-style: normal;
    text-decoration: none;
    color:#2D2D2D
}
ol, ul{
    list-style-type: none;
    padding: 0;
}
body{
    font-family: 'Epilogue', sans-serif;
    margin: 0;
}
.container{
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.header-container{
    display: flex;
    margin: 0;
    padding: 0;
}
.navigation{
    display:flex;
    align-items: center;
    padding: 25px 0;
}
.logo{
    font-family:'Epilogue', sans-serif;
    font-size:20px;
    font-weight: 600;
    color:#2D2D2D;
    margin-left:50px;
    text-transform: capitalize;
}
.links-list{
    display: flex;
    gap: 50px;
}
.header-box-links{
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    padding: 26px 0;
    font-size: 17px;
    text-transform: capitalize;
    flex-wrap: wrap;
    flex-shrink: 0;
}
.content-box{
    display: flex;
    flex-direction: column;
    padding:100px;
    flex: 1;
    text-align: left;
}
.branding{
    font-size: 20px;
    font-weight: 600;
}
.my-portfolio{
    font-size: 80px;
    font-weight: 600;
    padding-top: 40px;
}
.made-myself{
    font-size:17px;
    padding: 0;
}
.image-circle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-right: 50px;
}
.platforms{
        border: 1px solid black;
        border-right:none;
        border-left: none;
}
.company-logos{
    display: flex;
    padding:0 101px;
    justify-content: space-between;
    gap:131.5px;
    flex-wrap: wrap;
    padding-top: 66px;
    padding-bottom: 61.65px;
    align-items: center;
}
.placeholder{
    display: flex;
}
.block-header{
    display: block;
    font-weight: 600;
    padding-top: 56px;
    margin: 0;
    text-align: center;

}
.paragraph-place{
    padding-top:19px;
    margin: 0;
    text-align: center;
}
.box-blocks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left:140px ;
    padding-top: 180px;
    justify-content: center;
    width:250px;
}
.img-place{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:60px ;
}
.title-work{
    text-align: center;
    font-size:32px;
    font-weight:600;
    padding-top:180px;
}
.list-work{
    padding-right:100px;
    padding-left: 100px;
    padding-top: 60px;
    display: flex;
    gap: 67.5px;
    flex-wrap: wrap;
    justify-content:center;
    box-sizing: border-box;
}
.footer{
    padding: 70px 100px;
    border-top: 1px solid #2D2D2D;
}
.lets-work{
    padding-bottom: 40px;
    font-weight: 600;
}
.footer-text{
    width:360px;
    line-height:1.5em;
}
.footer-links{
    display: flex;
    padding-top:60px;
    gap:13px;
    margin-left:auto;
}
.footer-box{
    border-top: 1 px solid #2D2D2D;
}
.clients{
    text-align:center;
    padding-top:100px;
    font-size:32px;
}
.client-box{
    width:315px;
    font-weight: 600;
    background-color: #FFFCF5;
    border: 1.5px solid #FFD285;
    margin-left:100px;
    display: flex;
    flex-direction: column;
}
.review{
    font-size: 20px;
    font-weight: 500;
    color:#2D2D2D;
    padding-left:30px;
    padding-right: 22px;
    padding-top:30px;
    line-height: 1.8;

}
.client-box img{
    padding-left:30px;
    padding-top: 80px;
    max-width: 100%;    
    
}
.name-review{
    display: flex;
}